<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Card-Hematologia -->
  <ion-card>
    <img src="assets/img/hematologia.jpg">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Hematología</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: justify; font-size: 16px;">
      Esta es nuestra sección de hematología, en ella se encuentran una gran variedad de exámenes de laboratorio clínico, entre los que se encuentran el hemograma...
    </ion-card-content>
    <ion-button fill="clear" color="primary" routerLink="/hematologia" expand="full">Visitar</ion-button>
  </ion-card>

  <!-- Card-Hemoquimica -->
  <ion-card>
    <img src="assets/img/hemoquimica.jpg">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Hemoquímica</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: justify; font-size: 16px;">
      Esta es nuestra sección de hematología, en ella se encuentran una gran variedad de exámenes de laboratorio clínico, entre los que se encuentran el hemograma...
    </ion-card-content>
    <ion-button fill="clear" color="primary" routerLink="/hemoquimica" expand="full">Visitar</ion-button>
  </ion-card>

  <!-- Card-Hemostasia -->
  <ion-card>
    <img src="assets/img/hemostasia.jpg">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Hemostasia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button fill="clear" color="primary" routerLink="/hemostasia" expand="full">Visitar</ion-button>
  </ion-card>

  <!-- Card-Inmunología -->
  <ion-card>
    <img src="assets/img/inmunologia.jpg">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Inmunología</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button fill="clear" color="primary" routerLink="/inmunologia" expand="full">Visitar</ion-button>
  </ion-card>

  <!-- Card-Líquidos-Biológicos -->
  <ion-card>
    <img src="assets/img/liquidos-biologicos.png">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Líquidos Biológicos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button fill="clear" color="primary" routerLink="/liquidos-biologicos" expand="full">Visitar</ion-button>
  </ion-card>

  <!-- Card-Perfiles-De_Laboratorio -->
  <ion-card>
    <img src="assets/img/perfiles-de-laboratorio.jpg">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Perfiles De Laboratorio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button fill="clear" color="primary" routerLink="/perfiles-de-laboratorio" expand="full">Visitar</ion-button>
  </ion-card>
</ion-content>
